<mat-card class="main">
	<div class="jumbotron">
		<h1>שאלון כלבים</h1>

		<div class="form-group">
			<label for="input3" class="col-sm-4 control-label">בחר נושא עליו תרצה להיבחן</label>
			<div class="col-sm-6"> 
							<select [(ngModel)]="selectedvalue" (change)="gettinglanguage()">
								<option *ngFor="let g of languages" [value]="g">
										{{g}}
								</option>
							</select>
			</div>
		</div>


		<div class="jumbotron">
			<ul>
				{{question}}
			</ul>
			<ul *ngFor="let opt of option">
				<div class="radio">
					<label >
						<input type="radio" (click)="check($event,opt)">
							{{opt}}
						<span class="cr">
							<i class="cr-icon glyphicon glyphicon-ok"></i>
						</span>
					</label>
				</div>
			</ul>
			&nbsp;&nbsp;&nbsp;
			<button mat-raised-button (click)="previous()"*ngIf="i>0">הקודם</button>
			&nbsp;
			<button mat-raised-button color="primary"(click)="next()"*ngIf="i<quizlength-1">הבא</button>
		</div>

		<br>
		<br>
		<br>

		<div class="xx">
			<button mat-raised-button  style="background-color: #4CAF50; color: white" class="btn btn-info" (click)="generatemark()">שלח</button>
		</div>
	</div>
</mat-card>