.main  {
    font-family: calibri;
    direction: rtl;
    display: flex;
    width: 50%;
    margin: auto;
    min-height: 350px;  
}
.xx{
  font-family: calibri;
  direction: rtl;
  display: grid;
  margin: auto;
  
}
h1{
  font-size:40px
}
.col-sm-4 {
  font-size:32px;
}
ul{
  font-size:32px;
}
label
{
  font-size:24px;
}

select{
  font-size:28px;
  border: none;
  flex-direction: column;
  display: flex;
  border-bottom: groove;
  font-family: calibri;
  padding-left: 120px;
}
.mat-raised-button{
  font-family: calibri;
}