<mat-toolbar >
    <mat-toolbar-row class="r">
      <img  (click)= "toMain()"style="width: 6%;border-radius: 25px;" src="https://s3-media3.fl.yelpcdn.com/bphoto/oYvojniHSId2Y-cqHq5z6w/ls.jpg">
      &nbsp;&nbsp;
      <h1  (click)= "toMain()" style="font-family: calibri;font-weight: bold; font-size: x-large;">כלב ח(כ)ם</h1>
       
      <button mat-raised-button class="nav-side"
              *ngIf ="(authService.user |async)"  
                style="margin-right: 25%;
                      float: left;"
                (click)= "toWelcome()">
                <mat-icon > library_books</mat-icon> 
                    מדריך גזעי כלבים
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button class="nav-side" 
                *ngIf ="(authService.user |async)" 
                (click)= "toQuiz()">
                <mat-icon >playlist_add_check</mat-icon> 
                  בחן את עצמך
        </button> 
        &nbsp;&nbsp;
        <button mat-raised-button class="nav-side" 
                *ngIf ="(authService.user |async)" 
                (click)= "toGroup()">
                <mat-icon >pets</mat-icon> 
                  הרשם לקבוצה
        </button> 
        &nbsp;&nbsp;
      
        <button mat-raised-button class="nav-side"
                *ngIf ="(authService.user |async)" 
                (click)= "toVideo()">
                <mat-icon >movie</mat-icon> 
                  סרטוני הדרכה
        </button> 
        &nbsp;&nbsp;
        <button mat-raised-button class="nav-side"
        *ngIf ="(authService.user |async)" 
        (click)= "toChat()">
        <mat-icon >chat</mat-icon> 
        צ'אט
        </button> 
        
        
        
        <button mat-raised-button class="nav-side" 
                *ngIf ="!(authService.user |async)"
                style="margin-right: 65%;
                      float: left;" 
                (click)= "toLogin()">
                <mat-icon >account_circle</mat-icon> 
                    התחבר
        </button>  
        &nbsp;&nbsp;
        <button mat-raised-button class="nav-side" 
        *ngIf ="!(authService.user |async)" 
        (click)= "toRegister()">
        <mat-icon >add_circle</mat-icon> 
            הרשם
      </button>  
         
        <button mat-raised-button class="nav-side" 
                *ngIf ="(authService.user |async)"  
                (click)= "logout()">
                <mat-icon >exit_to_app</mat-icon>  
                    התנתק
        </button>
 

  </mat-toolbar-row>
</mat-toolbar>