<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אסקימו אמריקאי - American Eskimos
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/American_Eskimos.jpg">   
  
  <mat-tab-group class="tab" >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          הכלב האסקימו אמריקני נודע בשלב פרוותו הלבנה, הארוכה, העשירה והיפיפייה. לגזע זה יש שלושה גבהים שונים, מיניאטורי, בינוני וגדול. סימן היכר נוסף הוא הפרצוף המחודד שלהם, האוזניים השפיציות והזנב העשיר בפרווה ארוכה. למרות שישנם כלבים מהגזע הזה בעלי עיניים כחולות הם בדרך כלל נוטים לסבול מבעיות בריאותיות. 

          * לגזע האסקימו אמריקאי אין בית גידול בארץ וכלבים מגזע זה מגיעים לארץ ביבוא אישי בלבד.
          
          גובה כלב בוגר: בין 23 ל- 48 ס"מ משקל כלב בוגר: בין 13 ל- 22 ק"ג.
        </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          כלבי האסקימו אמריקני נחשבים לכלבי לוויה מעולים, הם נאהבים בזכות האינטליגנציה הגבוהה שלהם, הערנות שלהם ואומץ לבם, הגזע נחשב למאוד פעיל ושופע אהבה. הכלבים האסקימואים מסתדרים עם כל חיות המחמד ויכולים לחיות גם בדירה וגם בבית פרטי, כל עוד הם מקבלים את הפעילות הגופנית שלה הם כל כך זקוקים. בזכות גודלם הקומפקטי, האינטליגנטיות והנאמנות שלהם, כלבי האסקימו אמריקני נחשבים גם לחיית מחמד אידיאלית וגם לכלבי שמירה טובים.גזע אלסקן מלמוט הוא גזע אנרגטי מאוד, הם זקוקים לשפע של תשומת לב ושפע של פעילות גופנית, עקב היותם כלבים אינטליגנטיים מאוד ובעלי מחשבה עצמאית, הם יכולים לסרב לציית לך. אין ספק שכלבים מגזע אלסקן מלמוט ייבחנו פעמים רבות את הסבלנות שלך וכדאי גם להרחיק אותם מחיות מחמד קטנות אחרות עקב נטייתם הטבעית לצוד. למרות האמור לעיל מדובר בכלבים נאמנים מאוד המגנים על הבית ואוהבים את שאר בני המשפחה. חשוב לציין שגורי אלסקן מלמוט הם מאוד אנרגטיים בהשוואה לכלבים הבוגרים יותר.
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          גזע הכלבים נחשב לגזע בריא, הם יכולים לסבול מבעיות בעיניים העלולות לגרום לעיוורון בסופו של דבר, לכן הם זקוקים למעקב קבוע אצל וטרינר. בנוסף לכך ישנם כלבים שנוטים לסבול ממחלות פרקים ויש להם נטייה לעלות במשקל, אם הם אינם מבצעים פעילות גופנית באופן קבוע. בגלל הפרווה הארוכה והעבה שלהם, הם זקוקים לסירוק לפחות פעמיים בשבוע.
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            האסקימו אמריקאי זקוקים לפעילות גופנית קבועה על בסיס יומי, מכיוון שהם מלאי אנרגיה והם חייבים לפרוק אנרגיה זו בכל יום, אחרת הם יהפכו לרועשים מאוד ולעיתים אפילו להרסניים. הדרך הכי טובה למנוע התנהגות שלילית אצל גזע זה היא לעייף אותם. בכל יום הם זקוקים לטיול של 20 עד 45 דקות, בנוסף אפשר תמיד לתת להם לשחק עם צעצוע אהוב בחצר האחורית.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              למרות האינטליגנציה הגבוהה של הכלבים, הם לא תמיד קלים לאילוף. כדאי להתחיל באילוף מיד כאשר כלב האסקימו מגיע לבית החדש. אמנם הכלבים הללו אוהבים לרצות את הבעלים שלהם, אבל הם לא אוהבים לעבוד קשה, לכן בעלים רבים מעדיפים לקחת אותם לכיתות אילוף מקצועיות. באופן כללי ניתן לומר שכלבי האסקימו אמריקאי זקוקים לאילוף עדין מאוד, יחד עם פקודות קצרות ותקיפות. 
            </div>
      </mat-tab>
  </mat-tab-group>
  
