<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אמריקן פיטבול טרייר - American Pit Bull Terriers
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/American_Pit_Bull_Terrier.jpg">   
  
  <mat-tab-group class="tab" >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          כלבי האמריקן פיטבול טרייר הם גזע בינוני של כלבים מקבוצת הטריירים, כלבים אלו ידועים בנאמנותם, כוחם, ידידותם והחוכמה שלהם, הם יכולים להיות כלבי משפחה נפלאים וחיות מחמד נהדרות לילדים בגלל שהם תמיד ירצו לטפל בהם. כלבי האמריקן פיטבול טרייר הם כלבים חזקים, שריריים ומוצקים עם שכבה קצרה ונוקשה של פרווה שיכולה להיות כמעט בכל צבע. בשנים האחרונות גזע זה של כלבים קבל פרסום שלילי, לאו דווקא בגלל התנהגות ספציפית לגזע אלא בגלל הרבעה לא נכונה של גזעי "פיטבול". ישנם מקומות בעולם שאסור לגדל בהם כלבים אלו, למרות שרוב ההתנהגות השלילית שלהם נבעה מכך שהבעלים שלהם התעללו בהם ולא בגלל התכונות של הגזע עצמו. בעלים של כלבי האמריקן פיטבול טרייר טוענים שהם כלבים טובים, אוהבים, אינטיליגנטים שיכולים להיות חיות משפחה נפלאות.
          גובה ממוצע של כלב בוגר: 60 ס"מ משקל ממוצע של כלב בוגר: 29 ק"ג
        </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          את המזג של כלבי האמריקן פיטבול טרייר אפשר לתאר בדרכים רבות, כאשר המונח שמתאר אותם הכי טוב הוא ידידותי. הם ידועים בחכמתם הגדולה ובאופי היציב שלהם והם יכולים להיות חיית מחמד מצוינת. כלבי הפיטבול ידידותיים כלפי כל מי שהם רואים, בין אם הוא בן משפחה או זר. הם נהדרים עם ילדים, אבל הם יכולים לגרום לנזקים בתוך הבית. כלבי הפיטבול ידועים בזכות אינסטינקט הציד החזק שלהם, הם רואים ציפורים, ארנבות ובעלי חיים אחרים כמשחק הוגן בשבילם, אבל בעזרת משמעת נכונה ואם הם גדלים עם בעלי חיים אחרים מגיל צעיר, אפשר לצמצם בעיה זו. אם בעל חיים אחר יתחיל בקרב איתו, האמריקן פיטבול טרייר לא ייסוג ממנו. האישיות שלהם מאוד ידידותית והם נראים מטופשים כשהם מתגלגלים על הרצפה כדי לשחק עם בני משפחתם. הם סקרנים, אוהבים, פעילים ושובבים. מומלץ לא להשאיר אותם לב עם ילדים מכיוון שהם לא מודעים לכוח הרב שלהם ויכולים להכאיב בטעות, הם אינם פוגעים בילדים בכוונה גם כאשר הילדים מציקים להם, בגלל כוח הסיבולת הגבוה שלהם. כפי שציינו קודם לכן, בעיות התנהגות רבות נובעות מרבייה לא נכונה, לכן חשוב לקנות אותם כגורים ממגדל מכובד ורציני היודע נאמנה את מלאכתו.
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          כלבי האמריקן פיטבול טרייר הם כלבים בריאים יחסית שהבעיה העיקרית שהם יכולים לסבול ממנה היא דספלסיה של מפרק הירך, אפשר לעשות להם בדיקת רנטגן כדי לבדוק אם הם סובלים מבעיה זו. כלבי האמריקן פיטבול טרייר אוהבים לשחק בבוץ, לכן תצטרכו לנקות אותם ולבדוק שאין עליהם טפילים כאשר הם חוזרים הביתה. כדאי לטפל באוזניים, עיניים וציפורני הכלב על בסיס קבוע, כדי שהם יתרגלו לטיפול ואף ייהנו ממנו. האוזניים של הכלב צריכות להיות תמיד נקיות ויבשות
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            כלבי האמריקן פיטבול טרייר דורשים המון פעילות גופנית, יש להם אנרגיה רבה ואם הם לא יוציאו אותה הם יעשו דברים שובבים והרסניים בתוך הבית, בגלל שהם כל כך שובבים הם אוהבים לצאת לטיולים, להסתובב בחצר, להתגלגל וגם כשמדגדגים אותם,.הם גם ייהנו ממשחקים של משיכות משקל ובסה"כ יאהבו לעשות כל דבר ביחד עם בני משפחתם.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              אילוף כלב האמריקן פיטבול טרייר הוא מאוד חשוב כדי לעזור לכלבים אלו להיות כלבי משפחה הטובים ביותר שאפשר. מכיוון שמטבעם הם אוהבים, נאמנים ואינטיליגנטים האילוף שלהם הוא קל, האילוף צריך להיות בקול תקיף ובצורה עקבית, כדי שהם ידעו מה מצופה מהם. כדאי להימנע מענישה גופנית שרק תגרום להם להיות נסערים ולא תשיג דבר. בזכות חכמתם הרבה כלבי הפיטבול ינסו להתחמק מהאילוף ועליכם להתעקש איתם. חשוב לאלף אותם לצייתנות מגיל צעיר דווקא בגלל השם השלילי שיצא להם
 
            </div>
      </mat-tab>
  </mat-tab-group>
  
