<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אפנפינצ`ר - Affenpinschers
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Affenpinschers.jpg">   
  
  <mat-tab-group class="tab" >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          כלב האפנפינצ'ר הוא גזע קטן של כלבים עם אישיות ייחודית ומראה פיזי חסון. גזע זה כמו גזע הטרייר ידוע ביכולות האתלטיות שלו, פניו דומות לפני קוף עם מערך מדהים של הבעות. למרות גודלו הקטן מדובר בגזע חזק וזריז המתאים לצייד. האף על פרצופו של האפנפינצ'ר הוא מאוד בולט ויש לו שיער ארוך המקיף אותו ואת פיו. העיניים של הכלב עגולות והן תמיד בצבע שחור, הכלב נראה תמיד רציני ודרוך, האוזניים של הכלב קטנות בצורת משולש וקרובות לראש, יש לו גם שיער ארוך על המצח וליד הגבות. הפרווה של גזע אפנפינצ'ר צפופה ומחוספסת למגע, הפרווה על החזה הפנים והבטן באורכים משתנים המתמזגים זה עם זה. 

          * לאפנפינצ'ר אין בית גידול בארץ וגזע זה מגיע לארץ ביבוא אישי בלבד.
          
          גובה ממוצע של כלב בוגר: 25-38 ס"מ משקל ממוצע של כלב בוגר: 3-3.36 ק"ג.
      </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          כלב אפנפינצ'ר הוא לחלוטין כלב של אנשים והוא אוהב להיות מעורב באופן פעיל בכל מה שקורה במשפחה. שלא כמו גזעי טרייר אחרים הוא אינו נוטה לעצמאות, אבל הוא מעולה בפתרון בעיות. כלבי אפנפינצ'ר הם שובבים, אינטליגנטיים ונאמנים הנובחים בקול רם כדי להגן על המשפחה, או כאשר הם מרגישים מאוימים. הם מגוננים למדי על המזון והחפצים שלהם ומסתדרים הכי טוב עם ילדים בוגרים שאינם מציקים לכלב זה, או נוגעים ברכוש שלו. כלב ממין זה שעובר תהליך חיברות טוב יידע להסתדר עם חיות מחמד אחרות ועם אנשים חדשים. הכלבים הללו מאוד אוהבים אתגרים ואינם מסתדרים לבדם למשך פרקי זמן ארוכים.  
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          גזע אפנפינצ'ר הוא גזע חסון מאוד ובריא, אבל גם הוא עלול לסבול מכמה בעיות בריאותיות או בעיות גנטיות כמו ניוון הירך אצל כלבים צעירים, מחלת לב וסגירה לא תקינה של עצמות הגולגולת. בדיקה מוקפדת של מקור גזע הכלב יכולה למנוע בעיות גנטיות אלו. 
          הפרווה הארוכה של כלב אפנפינצ'ר דורשת טיפוח וסירוק באמצעות מסרק רחב שיניים ממתכת, חשוב להבריש את הכלב פעם ביום לפחות כדי למנוע קשרים בשיער. את פרווה הכלב כדאי לקצץ אצל ספר כלבים מקצועי ולא לגזום לחלוטין כדי לא לפגוע בשומנים הטבעיים של הפרווה ששומרים עליה. כדאי גם לשים לב לשערות הקטנות שצומחות ליד עיני הכלב ויכולות לגרום לגירוי בעיניים, הימנעו מרחיצת גזע זה, אלא אם כן הדבר הכרחי לחלוטין. 
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            כלבי האפנפינצ'ר הם כלבים פעילים בצורה מתונה וזקוקים לפעילות גופנית על בסיס קבוע. הכלבים יכולים להיות מופעלים על שטחים קטנים בתוך הבית ומחוצה לו. הם אוהבים לטפס, לשחק ולחקור את סביבתם, חצר מגודרת יכולה להיות מצוינת בעבורם מכיוון שהם יכולים להתחיל לרדוף אחר חתולים או חיות אחרות ולהסתבך בצרות. טיולים קבועים עוזרים לכלב להיות ממושמע, אם כלבי האפנפינצ'ר לא יוציאו אנרגיה בכל יום, הם יכולים לפתח התנהגויות בלתי רצויות כמו נביחות או לעיסה. אסור להשאיר את הכלבים בחוץ באקלים קר.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              כלבי אפנפינצ'ר הם כלבים חכמים מאוד והם במיטבם כאשר מוצבים בפניהם אתגרים מנטאליים, הם יכולים להשתעמם במהירות מתוכנית אילוף שחוזרת על עצמה, מכיוון שהם מאוד חכמים הם לומדים מהר מאוד התנהגויות חיוביות ושליליות לכן אימון אוהב, נוקשה מעט ועקבי הוא חיוני מאוד. מכיוון שדעתם מוסחת במהירות הם זקוקים לאימונים קצרים. חשוב להעביר את הגזע תהליך חיברות בגיל צעיר וגם להרגיל אותם לתת חפצים שלהם, במיוחד אם יש ילדים בבית. תהליך האילוף צריך להיות כיף בעבור הכלבים ובעבור הבעלים שלהם.
            </div>
      </mat-tab>
  </mat-tab-group>
  
