h1{
  text-align: center; 
  font-family: "calibri"; 
  font-weight:bold;
  color: black;
  font-style: italic;
  font-size: 60px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  box-shadow:none;
}
h3{
  text-align: center; 
  font-family: "calibri"; 
  color: black;
  font-style: italic;
  font-size: 23px;
  direction: rtl;
  box-shadow:none;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.main{
 box-shadow:none;
 column-span: all;
}
.xxx{
  box-shadow: none;
  max-width: 87%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 4%;

}

.abc{
  max-height: -4%;
  max-width: 78%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: 'calibri';
  text-align: center;
  background-color: lightgray;
  font-weight: bold;
  font-size: 38px;
  direction: rtl;
  box-shadow: none;
  position: inherit;
  border-radius: 15px;
  padding: inherit;
  
  }
  .x{
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.btn {
  text-align: center; 
  font-family: "calibri"; 
  font-weight:bold;
  font-style: italic;
  float: right;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  background-color: lightblue;
  font-size: 24px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 19px;
  text-align: center;
  line-height: 38px;
  box-shadow:none;
  }
  a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
.rashi{
  box-shadow:none;
  flex-wrap: wrap;
  display: flex;  
  margin: auto;    
  justify-content: center;
  background:unset;
}
.all-card{
    width: 200px;
    margin-top: 0px;
    margin-bottom:15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    border: 1px solid #ccc;
    float: right;
    height: 200px;
    background-color:  lightblue;
    font-family: "calibri";
    font-size: 15px;
    border-radius: 10px;
    position: relative;
  }
  .mat-card-actions{
    padding: initial;
    float: right;
  }
 .all-button{
  font-family: 'calibri';
 box-shadow: none;
 max-height: 30px;
 font-size: 18px;
  background-color: lightblue;
 
  text-decoration-line: underline;
 
 }

 .mat-card-header{
  flex-direction: row-reverse;
 }
 
  
.mat-card-image{
  max-height: 170px;
  max-width: 260px;
    flex-wrap: wrap;
    display: flex;     
    justify-content: center;
    padding: 0px;
    border-radius: 5px;
    margin: 1px -1px 1px -16px;
  
}