<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
  </mat-card>
  <div class="xxx">
    <mat-card class="x" >
        <div class="btn">
            <a href="/welcomw#א" class="button" matTooltip="הקלק בכדי לעבור" >א</a>
        </div>
        <div class="btn">
            <a href="/welcomw#ב" class="button" matTooltip="הקלק בכדי לעבור" >ב</a>
        </div>
        <div class="btn">
            <a href="/welcomw#ג" class="button" matTooltip="הקלק בכדי לעבור" >ג</a>
        </div>
        <div class="btn">
            <a href="/welcomw#ד" class="button" matTooltip="הקלק בכדי לעבור" >ד</a>
        </div>
        <div class="btn">
            <a href="/welcomw#ה" class="button" matTooltip="הקלק בכדי לעבור">ה</a>
        </div>
        <div class="btn">
            <a href="/welcomw#ו" class="button" matTooltip="הקלק בכדי לעבור">ו</a>
        </div>
        <div class="btn">
            <a href="/welcomw#ז" class="button" matTooltip="הקלק בכדי לעבור">ז</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#ח" class="button" matTooltip="הקלק בכדי לעבור">ח</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#ט" class="button" matTooltip="הקלק בכדי לעבור">ט</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#י" class="button" matTooltip="הקלק בכדי לעבור">י</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#כ" class="button" matTooltip="הקלק בכדי לעבור">כ</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#ל" class="button" matTooltip="הקלק בכדי לעבור">ל</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#מ" class="button" matTooltip="הקלק בכדי לעבור">מ</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#נ" class="button" matTooltip="הקלק בכדי לעבור">נ</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#ס" class="button" matTooltip="הקלק בכדי לעבור">ס</a>
        </div> 
        <div class="btn">
            <a href="/welcomw#ע" class="button" matTooltip="הקלק בכדי לעבור">ע</a>
        </div>  
        <div class="btn">
            <a href="/welcomw#פ" class="button" matTooltip="הקלק בכדי לעבור">פ</a>
        </div>  
        <div class="btn">
            <a href="/welcomw#צ" class="button" matTooltip="הקלק בכדי לעבור">צ</a>
        </div>  
        <div class="btn">
            <a href="/welcomw#ק" class="button" matTooltip="הקלק בכדי לעבור">ק</a>
        </div>  
        <div class="btn">
            <a href="/welcomw#ר" class="button" matTooltip="הקלק בכדי לעבור">ר</a>
        </div>  
        <div class="btn">
            <a href="/welcomw#ש" class="button" matTooltip="הקלק בכדי לעבור">ש</a>
        </div>  
        <div class="btn">
            <a href="/welcomw#ת" class="button" matTooltip="הקלק בכדי לעבור">ת</a>
        </div>     
    </mat-card>
  </div>
  <br>
  <div>
  <mat-card class="abc" id="א">
    <span header-link="א">
      <header class="ng-star-inserted">
        <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="א" href="/welcome#א"> 
        </a>
      </header>
    </span>
    א
  </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Alaskan_Malamute_S.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="alaskanMalamute()">
                אלסקן מלמוט<br>
                Alaskan Malamute
            </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Alaskan_Klee_Kais_S.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="alskenKlee()">
              אלסקה קליי קאי<br>
              Alaskan Klee kais
          </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Amstaff_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="amstaff()">
              אאמסטף<br>
              Amstaff
          </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/American_Bulldog_S.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="americanBulldog()">
              אמריקן בולדוג<br>
              American Bulldog  
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/American_Pit_Bull_Terrier_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="americanPit()">
              אמריקן פיטבול טרייר<br>
              American Pit Bull Terriers
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/American_Eskimos_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="americanEskimos()">
              אסקימו אמריקאי<br>
              American Eskimos
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Afghan_Hounds_s(1).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="afghan()">
              אפגני<br>
              Afghan Hounds
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Affenpinschers_s(1).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="affenpinschers()">
              אפנפינצ`ר<br>
              Affenpinschers
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Japanis_Akita_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" (click)="japanisAkita()">
              אקיטה יפני<br>
              Japanis Akita 
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="ב">
        <span header-link="ב">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ב" href="/welcome#ב"> 
            </a>
          </header>
        </span>
        ב
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Basset_Hound_S.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button">
              באסט<br>
              Basset Hound
            </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bouvier_des_Flandres_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בובייה דה פלנדר<br> 
              Bourier Des Flander
            </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/English_Bulldog_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בולדוג אנגלי<br>
              English Bulldog
            </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/French_Bulldogs_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בולדוג צרפתי<br>
              French Bulldogs
            </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bull_Terriers_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בול טרייר<br>
              Bull Terriers
            </button>
          </mat-card-actions>
      </mat-card> 
      
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bullmastiff_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בולמסטיף<br>
              Bullmastiff
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Boston_Terriers_S.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בוסטון טרייר<br>
              Boston Terriers
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Beauceron_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button">
              בוסרון<br>
              Beauceron
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Boxer_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בוקסר<br>
              Boxer
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Beagle_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              ביגל<br>
              Beagle
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bichon_Frises_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בישון פריזה<br>
              Bichon Frises
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bloodhounds_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בלדהאונד<br>
              Bloodhounds
            </button>
          </mat-card-actions>
      </mat-card>


      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bloodhounds_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בלדהאונד<br>
              Bloodhounds
            </button>
          </mat-card-actions>
      </mat-card>
      
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Basenji_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button">
              בסנג`י<br>
              Basenji
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Brittany_S.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              בריטני<br>
              Brittany
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bernese_Mountain_Dog_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              ברנזי הרים<br>
              Bernese Mountain Dog
            </button>
          </mat-card-actions>
      </mat-card>
    </mat-card>
    <mat-card class="abc" id="ג">
        <span header-link="ג">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ג" href="/welcome#ג"> 
            </a>
          </header>
        </span>
        ג
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Golden_Retriever_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              גולדן רטריבר<br>
              Golden Retriever
            </button>
          </mat-card-actions>
      </mat-card>  

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Brussels_Griffon_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              גריפון בריסלי<br>
              brussels Griffon
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="ד">
        <span header-link="ד">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ד" href="/welcome#ד"> 
            </a>
          </header>
        </span>
        ד
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Dogue_de_Bordeauxs1(3).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >
              דוג דה בורדו<br>
              Dogue de Bordeauxs
            </button>
          </mat-card-actions>
      </mat-card>    
    </mat-card>
    
    <mat-card class="abc" id="ה">
        <span header-link="ה">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ה" href="/welcome#ה"> 
            </a>
          </header>
        </span>
        ה
    </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Siberian_Huskys_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              האסקי סיבירי<br>
              Siberian Huskys
            </button>
          </mat-card-actions>
      </mat-card>  
    </mat-card>

    <mat-card class="abc" id="ו">
        <span header-link="ו">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ו" href="/welcome#ו"> 
            </a>
          </header>
        </span>
        ו
    </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/West_Highland_White_Terrier_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              ווסט היילנד וייט טרייר<br>
              West Highland White Terrier
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="ז">
    <span header-link="ז">
      <header class="ng-star-inserted">
        <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ז" href="/welcome#ז"> 
        </a>
      </header>
    </span>
    ז
  </mat-card>
  <br><br><br><br>
  <br><br><br><br>

  <mat-card class="abc" id="ח">
      <span header-link="ח">
        <header class="ng-star-inserted">
          <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ח" href="/welcome#ח"> 
          </a>
        </header>
      </span>
      ח
    </mat-card>
    <br><br><br><br>
    <br><br><br><br>

    <mat-card class="abc" id="ט">
        <span header-link="ט">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ט" href="/welcome#ט"> 
            </a>
          </header>
        </span>
        ט
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Tibetan_Terrier_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              טרייר טיבטי<br>
              Tibetan Terrier
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Black_Russian_Terriers_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              טרייר רוסי שחור<br>
              Black Russian Terriers
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="י">
        <span header-link="י">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="י" href="/welcome#י"> 
            </a>
          </header>
        </span>
        י
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Yorkshire_Terriers_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >          
              יורקשייר טרייר<br>
              Yorkshire Terriers
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="כ">
        <span header-link="כ">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="כ" href="/welcome#כ"> 
            </a>
          </header>
        </span>
        כ
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Canaan_Dog_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              כלב כנעני<br>
              Canaan Dog
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Old_English_Sheep_Dog_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              כלב צאן אנגלי עתיק<br>
              Old English Sheep Dog
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="ל">
        <span header-link="ל">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ל" href="/welcome#ל"> 
            </a>
          </header>
        </span>
        ל
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Labrador_Retriever_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              לברדור רטריבר<br>
              Labrador Retriever
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="מ">
        <span header-link="מ">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="מ" href="/welcome#מ"> 
            </a>
          </header>
        </span>
        מ
      </mat-card>
      <br><br><br><br>
      <br><br><br><br>

      <mat-card class="abc" id="נ">
          <span header-link="נ">
            <header class="ng-star-inserted">
              <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="נ" href="/welcome#נ"> 
              </a>
            </header>
          </span>
          נ
        </mat-card>
        <br><br><br><br>
        <br><br><br><br>

        <mat-card class="abc" id="ס">
            <span header-link="ס">
              <header class="ng-star-inserted">
                <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ס" href="/welcome#ס"> 
                </a>
              </header>
            </span>
            ס
          </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Saint_Bernard_s(2).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              סאן ברנרד<br> 
              Saint Bernard
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Samoyed_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              סמויאד<br>
              Samoyed
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/saluki_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              סלוקי<br>
              Saluki
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/English_Setter_s(1).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              סטר אנגלי<br> 
              English Setter
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Chinese_Crested_Dog_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              סיני מצויץ<br>
              Chinese Crested Dog
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>
    
    <mat-card class="abc" id="ע">
        <span header-link="ע">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ע" href="/welcome#ע"> 
            </a>
          </header>
        </span>
        ע
      </mat-card>
      <br><br><br><br>
      <br><br><br><br>

      <mat-card class="abc" id="פ">
          <span header-link="פ">
            <header class="ng-star-inserted">
              <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="פ" href="/welcome#פ"> 
              </a>
            </header>
          </span>
          פ
        </mat-card>
     <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Papillon_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              פפילון<br>
              Papillon
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/pug_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              פאג<br>
              Pug
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Pincher_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              פינצ'ר<br>
              Pincher
            </button>
          </mat-card-actions>
      </mat-card>
     </mat-card>

     <mat-card class="abc" id="צ">
        <span header-link="צ">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="צ" href="/welcome#צ"> 
            </a>
          </header>
        </span>
        צ
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Chesapeake_Bay_Retriever_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              צ`סאפיק ביי רטריבר<br>
              Chesapeake Bay Retriever
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Japanese_Chins_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              צ`ין יפני<br>
              Japanese Chins
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Chihuahua_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              צ`יוואווה<br>
              Chihuahua
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Chow_Chow_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >       
              צ`או צ`או<br>
              Chow Chow
            </button>
          </mat-card-actions>
      </mat-card>
    </mat-card> 
    
    <mat-card class="abc" id="ק">
        <span header-link="ק">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ק" href="/welcome#ק"> 
            </a>
          </header>
        </span>
        ק
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Australian_Kelpie_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קלפי אוסטרלי<br>
              Australian Kelpie
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Cocker_Spaniel_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קוקר ספנייל<br>
              Cocker Spaniel
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Bearded_Collie_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קולי מזוקן<br>
              Breaded Collie
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/short_hair_collie_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קולי קצר שיער<br>
              short hair collie
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Coton_De_Tulears_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קוטון דה טולייר<br>
              Coton De Tulears
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Cavalier_King_Charles_Spaniel_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קבליר קינג צ`רלס ספניאל<br>
              Cavalier King Charles Spaniel
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Cairn_Terriers_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קארין טרייר<br>
              Cairn Terriers
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Cana_Corso_s(1).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              קאנה קורסו<br>
              Cana Corso
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="ר">
        <span header-link="ר">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ר" href="/welcome#ר"> 
            </a>
          </header>
        </span>
        ר
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Rhodesian_Ridgeback1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רידגבק רודזי<br>
              Rhodesian Ridgebacks
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/shutterstock_71289511_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רטריבר חלק שיער<br>
              Flat Couted Retriver
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Caucasian_Ovcharka2_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רועה קווקזי<br>
              Caucasian Ovcharka
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/German_Shepherd1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רועה גרמני<br>
              German Shepherd
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Belgian_Malinois2_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              (רועה בלגי (מלינואה<br>
              Belgian Malinois
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Anatolian_Shepherd2_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רועה אנטולי<br> 
              Anatolian Shepherd
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Australian_Shepherds1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רועה אוסטרלי<br>
              Australian Shepherds
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Rottweiler1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              רוטוויילר<br>
              Rottweiler
            </button>
          </mat-card-actions>
      </mat-card> 
    </mat-card>

    <mat-card class="abc" id="ש">
        <span header-link="ש">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ש" href="/welcome#ש"> 
            </a>
          </header>
        </span>
        ש
      </mat-card>
    <mat-card class="main">
      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/shih_tzu2_s(1).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button">         
              שי צ`ו<br>
              Shih Tzu
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Shiba-Inu1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button">         
              שיבה אינו<br>
              Shiba-Inu
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Shikoku2_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              שיקוקו<br>
              Shikoku
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Shetland_Sheepdogs2_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              שלטי<br>
              Shetland Sheepdogs
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/German_Spitz1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              שפיץ גרמני<br>
              German Spitz
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Japanese_Spitz1_s(1).jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              שפיץ יפני<br>
              Japanese Spitz
            </button>
          </mat-card-actions>
      </mat-card> 

      <mat-card class="all-card" >
        <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Chinese_Shar-Peis1_s.jpg">
          <mat-card-actions>
            <button mat-raised-button class="all-button" >         
              שר פיי<br>
              Chinese Shar-Peis
            </button>
          </mat-card-actions>
      </mat-card>
    </mat-card> 
    
    <mat-card class="abc" id="ת">
        <span header-link="ת">
          <header class="ng-star-inserted">
            <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading" aria-describedby="ת" href="/welcome#ת"> 
            </a>
          </header>
        </span>
        ת
      </mat-card>
  </div>

  <div>
<br><br><br><br>
<br><br><br><br>
  </div>
     

  


  
   

  