<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אמריקן בולדוג - American Bulldog
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/American_Bulldog.jpg">   
  
  <mat-tab-group class="tab" >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          חברו הטוב ביותר של האדם – הבולדוג האמריקאי - באמת מממש את המשפט הזה. הבולדוג האמריקאי מסמל אהבת אמת, מסירות וכוח סבל. הבולדוג האמריקאי מתואר ככלב אתלטי שיכול למלא תפקידים רבים. הם ידועים בזכות מעשי הגבורה שהם מבצעים כדי להגן על הבעלים שלהם, כלבים מגזע זה הם כלבים חזקים וחסונים ויש להם פרווה קצרה ונוקשה למגע. כלבת אמריקן בולדוג יכולה להמליט בין 6 ל- 16 גורים והם שייכים לזן הנדיר של כלבים שהם גם כלבים עובדים וגם כלבי שמירה. אמריקן בולדוג יכול לחיות בדירה או בבית, אם הם מקבלים תשומת לב על בסיס קבוע. הם בהחלט לא בנויים למזג אוויר קיצוני.
          גובה ממוצע של כלב בוגר: 55 ס"מ משקל ממוצע של כלב בוגר: 34 ק"ג
        </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          באופן כללי אפשר לומר שהבולדוג האמריקאי ידוע בתור חיית משפחה אוהבת והם טובים עם חיות מחמד אחרות וילדים. כלב זה יתקוף ללא היסוס תוקפים או כל אחד אחר שיאיים על הבעלים שלו. מדובר בגזע חסון, זריז עם לסתות חזקות והוא הוכשר בעבר כדי לשמור על הבקר. הבולדוגים האמריקאים הם מאוד עצמאיים, דומיננטיים ועקשנים, הם רוצים להיות הבוס בכל מצב, הם יבדקו האם תוכלו לגרום להם לעשות משהו שהם אינם רוצים, כבעלים אתם חייבים להיות תקיפים ועקביים ותמיד להתכוון למה שאתם אומרים. בנוסף כלבי האמריקן בולדוג צריכים להיחשף באופן קבוע לזרים ידידותיים, כי יש להם אינסטינקט הגנה טבעי כלפי אנשים שהם אינם מכירים, הם צריכים לדעת לזהות את ההבדל בין אנשים טובים לאנשים רעים. אם הם לא יעברו תהליך חיברות כמו שצריך הם עלולים לנשוך אחרים. כלבי הבולדוג האמריקאי יכולים להסתדר עם כלבים אחרים מאותו מין, אבל בגלל האינסטינקטים החזקים שלהם הם ירדפו אחר חיות אחרות, כאשר האילוף שלהם משתבש הם ידועים בפגיעתם בחיות אחרות ואפילו בהריגתן.
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          למרות שכלבי הבולדוג האמריקאי נחשבים לבעלי חיים בריאים וחסונים, חשוב להיות מודעים למספר בעיות בריאותיות פוטנציאליות כגון: דיספלסיה של מפרק הירך שיכולה לגרום לכאבים וקושי בעמידה או הליכה. בעיות בעיניים, אלרגיה של העור, בעיות חיסוניות וחירשות. כדאי לקנות גזע כלב זה ממגדל מהימן שיכול לתת לכם אחריות על הכלב. חשוב להבריש את פרוות הכלב באופן קבוע, הם אינם זקוקים לרחצה באופן קבוע, אלא רק כשהם מתלכלכים בחוץ, חשוב לגזוז את ציפורניו פעם בשבוע ולנקות את אוזניו עם שמן תינוקות וצמר גפן, כמובן שלא יותר מידי עמוק בתוך האוזן.
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            כלבי האמריקן בולדוג הם במיטבם כשיש להם תפקיד לבצע, הם אוהבים לצאת להליכות לעיתים קרובות, הם אוהבים לשחק עם בני המשפחה ולהתרוצץ בחצר. חשוב לאמן את הכלבים האלו על בסיס יומי לפחות שעה ביום ללא קשר למזג האוויר, אפשר אמנם לשמור על הכלב בתוך הבית, אבל הוא חייב לקבל מספיק פעילות גופנית כדי שיהיה בריא ומאושר.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              כאשר אתה מחליט לאלף את האמריקן בולדוג שלך, אתה חייב להיות מוכן לכך, אם לא תהיה מוכן, גזע זה נוטה להשתעמם בקלות ובסופו של דבר הוא יוציא את האנרגיה על רהיטים, שטיחים, נעליים וכדומה. נכון שהוא זקוק רק לשעה ביום של אילוף, אבל זו חייבת להיות שעה שמוקדשת אך ורק למען מטרה זו. האילוף של הגזע צריך להתחיל מוקדם ככל האפשר, הם לא יסתדרו עם אילוף חמור מידי, האילוף שלהם צריך להיות הוגן, עקבי ומלא בסבלנות. לאמריקן בולדוג יש כישורים רבים שאפשר לפתח כגון: ציד, שמירה, משיכת משקל ומעקב. לכלבים אלו אין משמעת עצמית והם נוטים להסתבך בצרות אם לא מטפלים בהם כראוי. חשוב לאמן אותם לעשות צרכים מחוץ לבית מוקדם ככל האפשר ולהכניס אותם לשגרה יומית קבועה כדי למנוע תאונות. הכנסת הכלב לשגרה קבועה יכולה לקחת עד ששה חודשים וחשוב לשמור עליה כל הזמן
            </div>
      </mat-tab>
  </mat-tab-group>
  
